<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>flagPositionX</key>
		<integer>-10</integer>
		<key>tileset</key>
		<string>tuscany</string>
		<key>flagPositionY</key>
		<integer>40</integer>
		<key>hasBase</key>
		<true/>
		<key>baseOffsetX</key>
		<integer>-22</integer>
		<key>baseOffsetY</key>
		<integer>-5</integer>
		<key>castleOffsetX</key>
		<integer>-20</integer>
		<key>castleOffsetY</key>
		<integer>12</integer>
		<key>castleRotation</key>
		<false/>
		<key>castleType</key>
		<string>small</string>
		<key>territoryPositionX</key>
		<integer>345</integer>
		<key>territoryPositionY</key>
		<integer>-95</integer>
		<key>neighbors</key>
		<array>
			<string>2</string>
			<string>5</string>
		</array>
	</dict>
	<key>2</key>
	<dict>
		<key>flagPositionX</key>
		<integer>5</integer>
		<key>tileset</key>
		<string>tuscany</string>
		<key>flagPositionY</key>
		<integer>52</integer>
		<key>hasBase</key>
		<true/>
		<key>baseOffsetX</key>
		<integer>-5</integer>
		<key>baseOffsetY</key>
		<integer>3</integer>
		<key>castleOffsetX</key>
		<integer>-4</integer>
		<key>castleOffsetY</key>
		<integer>22</integer>
		<key>castleRotation</key>
		<false/>
		<key>castleType</key>
		<string>small</string>
		<key>territoryPositionX</key>
		<integer>436</integer>
		<key>territoryPositionY</key>
		<integer>11</integer>
		<key>neighbors</key>
		<array>
			<string>1</string>
			<string>3</string>
			<string>5</string>
			<string>6</string>
		</array>
	</dict>
	<key>3</key>
	<dict>
		<key>flagPositionX</key>
		<integer>15</integer>
		<key>flagPositionY</key>
		<integer>60</integer>
		<key>hasBase</key>
		<true/>
		<key>tileset</key>
		<string>tuscany</string>
		<key>baseOffsetX</key>
		<integer>5</integer>
		<key>baseOffsetY</key>
		<integer>10</integer>
		<key>castleOffsetX</key>
		<integer>5</integer>
		<key>castleOffsetY</key>
		<integer>30</integer>
		<key>castleRotation</key>
		<true/>
		<key>castleType</key>
		<string>small</string>
		<key>territoryPositionX</key>
		<integer>548</integer>
		<key>territoryPositionY</key>
		<integer>51</integer>
		<key>neighbors</key>
		<array>
			<string>2</string>
			<string>4</string>
			<string>6</string>
		</array>
	</dict>
	<key>4</key>
	<dict>
		<key>tileset</key>
		<string>tuscany</string>
		<key>flagPositionX</key>
		<integer>20</integer>
		<key>flagPositionY</key>
		<integer>40</integer>
		<key>hasBase</key>
		<false/>
		<key>baseOffsetX</key>
		<integer>11</integer>
		<key>baseOffsetY</key>
		<integer>-9</integer>
		<key>castleOffsetX</key>
		<integer>10</integer>
		<key>castleOffsetY</key>
		<integer>10</integer>
		<key>castleRotation</key>
		<true/>
		<key>castleType</key>
		<string>small</string>
		<key>territoryPositionX</key>
		<integer>513</integer>
		<key>territoryPositionY</key>
		<integer>147</integer>
		<key>neighbors</key>
		<array>
			<string>3</string>
			<string>6</string>
		</array>
	</dict>
	<key>5</key>
	<dict>
		<key>tileset</key>
		<string>tuscany</string>
		<key>flagPositionX</key>
		<integer>5</integer>
		<key>flagPositionY</key>
		<integer>34</integer>
		<key>hasBase</key>
		<true/>
		<key>baseOffsetX</key>
		<integer>-5</integer>
		<key>baseOffsetY</key>
		<integer>-15</integer>
		<key>castleOffsetX</key>
		<integer>-3</integer>
		<key>castleOffsetY</key>
		<integer>5</integer>
		<key>castleRotation</key>
		<false/>
		<key>castleType</key>
		<string>small</string>
		<key>territoryPositionX</key>
		<integer>278</integer>
		<key>territoryPositionY</key>
		<integer>41</integer>
		<key>neighbors</key>
		<array>
			<string>1</string>
			<string>2</string>
			<string>6</string>
			<string>8</string>
			<string>9</string>
			<string>10</string>
		</array>
	</dict>
	<key>6</key>
	<dict>
		<key>tileset</key>
		<string>tuscany</string>
		<key>flagPositionX</key>
		<integer>-5</integer>
		<key>flagPositionY</key>
		<integer>42</integer>
		<key>hasBase</key>
		<true/>
		<key>baseOffsetX</key>
		<integer>-14</integer>
		<key>baseOffsetY</key>
		<integer>0</integer>
		<key>castleOffsetX</key>
		<integer>-16</integer>
		<key>castleOffsetY</key>
		<integer>15</integer>
		<key>castleRotation</key>
		<true/>
		<key>castleType</key>
		<string>medium</string>
		<key>territoryPositionX</key>
		<integer>372</integer>
		<key>territoryPositionY</key>
		<integer>111</integer>
		<key>neighbors</key>
		<array>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>9</string>
			<string>10</string>
		</array>
	</dict>
	<key>7</key>
	<dict>
		<key>tileset</key>
		<string>tuscany</string>
		<key>flagPositionX</key>
		<integer>-20</integer>
		<key>flagPositionY</key>
		<integer>35</integer>
		<key>hasBase</key>
		<true/>
		<key>baseOffsetX</key>
		<integer>-30</integer>
		<key>baseOffsetY</key>
		<integer>2</integer>
		<key>castleOffsetX</key>
		<integer>-30</integer>
		<key>castleOffsetY</key>
		<integer>15</integer>
		<key>castleRotation</key>
		<false/>
		<key>castleType</key>
		<string>large</string>
		<key>territoryPositionX</key>
		<integer>548</integer>
		<key>territoryPositionY</key>
		<integer>250</integer>
		<key>neighbors</key>
		<array>
			<string>11</string>
			<string>12</string>
		</array>
	</dict>
	<key>8</key>
	<dict>
		<key>tileset</key>
		<string>britany</string>
		<key>flagPositionX</key>
		<integer>8</integer>
		<key>flagPositionY</key>
		<integer>30</integer>
		<key>hasBase</key>
		<true/>
		<key>baseOffsetX</key>
		<integer>0</integer>
		<key>baseOffsetY</key>
		<integer>-20</integer>
		<key>castleOffsetX</key>
		<integer>0</integer>
		<key>castleOffsetY</key>
		<integer>0</integer>
		<key>castleRotation</key>
		<false/>
		<key>castleType</key>
		<string>small</string>
		<key>territoryPositionX</key>
		<integer>108</integer>
		<key>territoryPositionY</key>
		<integer>58</integer>
		<key>neighbors</key>
		<array>
			<string>5</string>
			<string>9</string>
			<string>14</string>
			<string>13</string>
		</array>
	</dict>
	<key>9</key>
	<dict>
		<key>tileset</key>
		<string>britany</string>
		<key>flagPositionX</key>
		<integer>14</integer>
		<key>flagPositionY</key>
		<integer>35</integer>
		<key>hasBase</key>
		<true/>
		<key>baseOffsetX</key>
		<integer>5</integer>
		<key>baseOffsetY</key>
		<integer>-15</integer>
		<key>castleOffsetX</key>
		<integer>5</integer>
		<key>castleOffsetY</key>
		<integer>4</integer>
		<key>castleRotation</key>
		<false/>
		<key>castleType</key>
		<string>small</string>
		<key>territoryPositionX</key>
		<integer>191</integer>
		<key>territoryPositionY</key>
		<integer>132</integer>
		<key>neighbors</key>
		<array>
			<string>5</string>
			<string>6</string>
			<string>8</string>
			<string>10</string>
			<string>14</string>
			<string>15</string>
		</array>
	</dict>
	<key>10</key>
	<dict>
		<key>tileset</key>
		<string>tuscany</string>
		<key>flagPositionX</key>
		<integer>2</integer>
		<key>flagPositionY</key>
		<integer>23</integer>
		<key>hasBase</key>
		<false/>
		<key>baseOffsetX</key>
		<integer>-10</integer>
		<key>baseOffsetY</key>
		<integer>-10</integer>
		<key>castleOffsetX</key>
		<integer>-10</integer>
		<key>castleOffsetY</key>
		<integer>3</integer>
		<key>castleRotation</key>
		<true/>
		<key>castleType</key>
		<string>large</string>
		<key>territoryPositionX</key>
		<integer>287</integer>
		<key>territoryPositionY</key>
		<integer>208</integer>
		<key>neighbors</key>
		<array>
			<string>6</string>
			<string>9</string>
			<string>15</string>
			<string>11</string>
		</array>
	</dict>
	<key>11</key>
	<dict>
		<key>tileset</key>
		<string>tuscany</string>
		<key>flagPositionX</key>
		<integer>5</integer>
		<key>flagPositionY</key>
		<integer>28</integer>
		<key>hasBase</key>
		<false/>
		<key>baseOffsetX</key>
		<integer>-4</integer>
		<key>baseOffsetY</key>
		<integer>-4</integer>
		<key>castleOffsetX</key>
		<integer>-5</integer>
		<key>castleOffsetY</key>
		<integer>8</integer>
		<key>castleRotation</key>
		<true/>
		<key>castleType</key>
		<string>large</string>
		<key>territoryPositionX</key>
		<integer>401</integer>
		<key>territoryPositionY</key>
		<integer>248</integer>
		<key>neighbors</key>
		<array>
			<string>10</string>
			<string>7</string>
			<string>12</string>
			<string>16</string>
		</array>
	</dict>
	<key>12</key>
	<dict>
		<key>tileset</key>
		<string>saxony</string>
		<key>flagPositionX</key>
		<integer>-5</integer>
		<key>flagPositionY</key>
		<integer>33</integer>
		<key>hasBase</key>
		<false/>
		<key>baseOffsetX</key>
		<integer>-15</integer>
		<key>baseOffsetY</key>
		<integer>-9</integer>
		<key>castleOffsetX</key>
		<integer>-17</integer>
		<key>castleOffsetY</key>
		<integer>5</integer>
		<key>castleRotation</key>
		<true/>
		<key>castleType</key>
		<string>medium</string>
		<key>territoryPositionX</key>
		<integer>450</integer>
		<key>territoryPositionY</key>
		<integer>338</integer>
		<key>neighbors</key>
		<array>
			<string>7</string>
			<string>11</string>
			<string>16</string>
			<string>17</string>
		</array>
	</dict>
	<key>13</key>
	<dict>
		<key>tileset</key>
		<string>britany</string>
		<key>flagPositionX</key>
		<integer>5</integer>
		<key>flagPositionY</key>
		<integer>38</integer>
		<key>hasBase</key>
		<false/>
		<key>baseOffsetX</key>
		<integer>-5</integer>
		<key>baseOffsetY</key>
		<integer>-4</integer>
		<key>castleOffsetX</key>
		<integer>-3</integer>
		<key>castleOffsetY</key>
		<integer>10</integer>
		<key>castleRotation</key>
		<false/>
		<key>castleType</key>
		<string>medium</string>
		<key>territoryPositionX</key>
		<integer>-53</integer>
		<key>territoryPositionY</key>
		<integer>81</integer>
		<key>neighbors</key>
		<array>
			<string>8</string>
			<string>14</string>
			<string>18</string>
		</array>
	</dict>
	<key>14</key>
	<dict>
		<key>tileset</key>
		<string>britany</string>
		<key>flagPositionX</key>
		<integer>-12</integer>
		<key>flagPositionY</key>
		<integer>55</integer>
		<key>hasBase</key>
		<false/>
		<key>baseOffsetX</key>
		<integer>-21</integer>
		<key>baseOffsetY</key>
		<integer>6</integer>
		<key>castleOffsetX</key>
		<integer>-22</integer>
		<key>castleOffsetY</key>
		<integer>25</integer>
		<key>castleRotation</key>
		<true/>
		<key>castleType</key>
		<string>small</string>
		<key>territoryPositionX</key>
		<integer>50</integer>
		<key>territoryPositionY</key>
		<integer>148</integer>
		<key>neighbors</key>
		<array>
			<string>8</string>
			<string>9</string>
			<string>13</string>
			<string>15</string>
			<string>18</string>
			<string>19</string>
		</array>
	</dict>
	<key>15</key>
	<dict>
		<key>tileset</key>
		<string>britany</string>
		<key>flagPositionX</key>
		<integer>10</integer>
		<key>flagPositionY</key>
		<integer>30</integer>
		<key>hasBase</key>
		<false/>
		<key>baseOffsetX</key>
		<integer>0</integer>
		<key>baseOffsetY</key>
		<integer>-15</integer>
		<key>castleOffsetX</key>
		<integer>0</integer>
		<key>castleOffsetY</key>
		<integer>0</integer>
		<key>castleRotation</key>
		<true/>
		<key>castleType</key>
		<string>medium</string>
		<key>territoryPositionX</key>
		<integer>164</integer>
		<key>territoryPositionY</key>
		<integer>256</integer>
		<key>neighbors</key>
		<array>
			<string>9</string>
			<string>10</string>
			<string>14</string>
			<string>19</string>
			<string>20</string>
		</array>
	</dict>
	<key>16</key>
	<dict>
		<key>tileset</key>
		<string>saxony</string>
		<key>flagPositionX</key>
		<integer>-3</integer>
		<key>flagPositionY</key>
		<integer>42</integer>
		<key>hasBase</key>
		<false/>
		<key>baseOffsetX</key>
		<integer>-13</integer>
		<key>baseOffsetY</key>
		<integer>-2</integer>
		<key>castleOffsetX</key>
		<integer>-11</integer>
		<key>castleOffsetY</key>
		<integer>15</integer>
		<key>castleRotation</key>
		<false/>
		<key>castleType</key>
		<string>medium</string>
		<key>territoryPositionX</key>
		<integer>270</integer>
		<key>territoryPositionY</key>
		<integer>328</integer>
		<key>neighbors</key>
		<array>
			<string>11</string>
			<string>12</string>
			<string>17</string>
		</array>
	</dict>
	<key>17</key>
	<dict>
		<key>tileset</key>
		<string>saxony</string>
		<key>flagPositionX</key>
		<integer>20</integer>
		<key>flagPositionY</key>
		<integer>25</integer>
		<key>hasBase</key>
		<false/>
		<key>baseOffsetX</key>
		<integer>12</integer>
		<key>baseOffsetY</key>
		<integer>-5</integer>
		<key>castleOffsetX</key>
		<integer>10</integer>
		<key>castleOffsetY</key>
		<integer>4</integer>
		<key>castleRotation</key>
		<true/>
		<key>castleType</key>
		<string>large</string>
		<key>territoryPositionX</key>
		<integer>333</integer>
		<key>territoryPositionY</key>
		<integer>413</integer>
		<key>neighbors</key>
		<array>
			<string>12</string>
			<string>16</string>
		</array>
	</dict>
	<key>18</key>
	<dict>
		<key>tileset</key>
		<string>britany</string>
		<key>flagPositionX</key>
		<integer>8</integer>
		<key>flagPositionY</key>
		<integer>27</integer>
		<key>hasBase</key>
		<false/>
		<key>baseOffsetX</key>
		<integer>-3</integer>
		<key>baseOffsetY</key>
		<integer>-2</integer>
		<key>castleOffsetX</key>
		<integer>-2</integer>
		<key>castleOffsetY</key>
		<integer>8</integer>
		<key>castleRotation</key>
		<false/>
		<key>castleType</key>
		<string>large</string>
		<key>territoryPositionX</key>
		<integer>-135</integer>
		<key>territoryPositionY</key>
		<integer>193</integer>
		<key>neighbors</key>
		<array>
			<string>13</string>
			<string>14</string>
			<string>19</string>
		</array>
	</dict>
	<key>19</key>
	<dict>
		<key>tileset</key>
		<string>britany</string>
		<key>flagPositionX</key>
		<integer>23</integer>
		<key>flagPositionY</key>
		<integer>48</integer>
		<key>hasBase</key>
		<false/>
		<key>baseOffsetX</key>
		<integer>13</integer>
		<key>baseOffsetY</key>
		<integer>3</integer>
		<key>castleOffsetX</key>
		<integer>15</integer>
		<key>castleOffsetY</key>
		<integer>20</integer>
		<key>castleRotation</key>
		<false/>
		<key>castleType</key>
		<string>medium</string>
		<key>territoryPositionX</key>
		<integer>24</integer>
		<key>territoryPositionY</key>
		<integer>246</integer>
		<key>neighbors</key>
		<array>
			<string>14</string>
			<string>15</string>
			<string>18</string>
			<string>20</string>
		</array>
	</dict>
	<key>20</key>
	<dict>
		<key>tileset</key>
		<string>britany</string>
		<key>flagPositionX</key>
		<integer>20</integer>
		<key>flagPositionY</key>
		<integer>35</integer>
		<key>hasBase</key>
		<false/>
		<key>baseOffsetX</key>
		<integer>9</integer>
		<key>baseOffsetY</key>
		<integer>-6</integer>
		<key>castleOffsetX</key>
		<integer>10</integer>
		<key>castleOffsetY</key>
		<integer>9</integer>
		<key>castleRotation</key>
		<false/>
		<key>castleType</key>
		<string>medium</string>
		<key>territoryPositionX</key>
		<integer>49</integer>
		<key>territoryPositionY</key>
		<integer>351</integer>
		<key>neighbors</key>
		<array>
			<string>15</string>
			<string>18</string>
			<string>19</string>
			<string>21</string>
		</array>
	</dict>
	<key>21</key>
	<dict>
		<key>tileset</key>
		<string>saxony</string>
		<key>flagPositionX</key>
		<integer>-30</integer>
		<key>flagPositionY</key>
		<integer>-15</integer>
		<key>hasBase</key>
		<false/>
		<key>baseOffsetX</key>
		<integer>-40</integer>
		<key>baseOffsetY</key>
		<integer>-48</integer>
		<key>castleOffsetX</key>
		<integer>-40</integer>
		<key>castleOffsetY</key>
		<integer>-35</integer>
		<key>castleRotation</key>
		<false/>
		<key>castleType</key>
		<string>large</string>
		<key>territoryPositionX</key>
		<integer>195</integer>
		<key>territoryPositionY</key>
		<integer>465</integer>
		<key>neighbors</key>
		<array>
			<string>20</string>
		</array>
	</dict>
</dict>
</plist>
